@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *:before,*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #cbcbcb;
}

body, input, textarea, select {
    font: 400 16px/1.3 'Roboto', sans-serif;
}

input, textarea, select {
    outline: none;
    width: 100%;
    padding: .5rem;
}

input[type=submit] {
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* HEADER */
header.header {
    background-color: white;
    box-shadow: 0 0 10px 5px #a0a0a0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1rem;
}

header.header .menu .menu-item, a {
    color: #3fa549;
    display: inline-block;
}

header.header .menu .menu-item a{
    padding: .7rem;
}

header.header .title a{
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem;
}

.btn {
    display: inline-block;
    width: fit-content;
    padding: .5rem .7rem;
    transition: .3s;
}

.btn-primary {
    border: 1px solid #4444ff;
    background-color: #4444ff;
    color: white;
}

.btn-primary:hover {
    background-color: white;
    color: #4444ff;
}

.btn-success {
    border: 1px solid #1e9423;
    background-color: #1e9423;
    color: white;
}

.btn-success:hover {
    background-color: white;
    color: #1e9423;
}

.btn-danger {
    border: 1px solid #ff4747;
    background-color: #ff4747;
    color: white;
}

.btn-danger:hover {
    background-color: white;
    color: #ff4747;
}

.badge {
    padding: 1rem;
    color: white;
    border-radius: .3rem;
}

.badge-success {
    background-color: #1e9423;
}

.container {
    background-color: #ffffff;
    box-shadow: 0 0 10px 5px #a0a0a0;

    margin: 2rem auto;
    padding: .7rem;
}


#articles {
    padding: .7rem;
}

section h2 {
    padding: 1rem 0;
    font-weight: 500;
}

#articles .articles .article {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 0 10px 5px #a0a0a0;
    margin: 1rem 0;
    padding: .7rem;
}

#articles .add{
    display: block;
    margin-left: auto;
}

#articles .articles .article .author {
    padding: .5rem 0;
    color: #a0a0a0;
    font-style: italic;
}

#articles .articles .article .description {
    padding: .7rem 0;
}

#articles .articles .article .misc{
    color: #a0a0a0;
    font-style: italic;
}

#articles .articles .article .article-footer {
    display: flex;
    align-items: center;
}

#articles .articles .article .misc .misc-author {
    color: #4db558;
}

#articles .articles .article .article-footer p:not(:last-child),
#articles .articles .article .article-footer a:not(:last-child){
    margin-right: .7rem;
}

#articles .articles .article .misc-state .publish {
    color: #4444ff;
}

#articles .articles .article .misc-state .draft {
    color: #ffc334;
}

#newArticle input:not(:last-child),
#editArticle input:not(:last-child),
#newArticle textarea:not(:last-child),
#editArticle textarea:not(:last-child),
#newArticle select:not(:last-child),
#editArticle select:not(:last-child)
{
    margin-bottom: .7rem;
}

@media (min-width: 576px) {
    .container { max-width: 540px; }
}

@media (min-width: 768px) {
    .container { max-width: 720px; }
}

@media (min-width: 992px) {
    .container { max-width: 960px; }
}

@media (min-width: 1200px) {
    .container { max-width: 1140px; }
}
