@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&display=swap');

*, *:before,*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#all{
    display: flex;
    background-color: rgb(223, 151, 43);
    justify-content: space-around;
    flex-wrap: wrap;
}
.ulnav{
    display: flex;
    margin-left: 5rem;
    font-size: large;
}
.ulnav li{
    padding: 1rem;
    display: inline-block;
}
.wrap{
    width: 25%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
}
header{
    background-color: rgb(141, 76, 24);
    
    
}
.img{
    width: 18rem;
    
    
}
h1, .top-title{
     width: 60%;  
    color: rgb(227, 233, 151);
    margin-bottom: 1rem; 
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-weight: 800;
    font-size: 1.5rem;
    
    
}
h1{
    font-size: 4rem;
}

.top-img{
    width: 20%; 

    
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 2rem;
    
}
.h2{
    margin-top: 2rem;
    color: rgb(227, 233, 151);
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-weight: 800;
}
a{
    text-decoration: none;
    color: rgb(227, 233, 151);
}
.voir{
    background-color: rgb(141, 76, 24);
    padding: 0.5rem;
    border: none;
    border-radius: 5%;
    margin-top: auto;
}
.wrap1{
    background-color: rgb(223, 151, 43);
    padding: 3rem;
    width: 100%;
    
}
.brown{
    color: rgb(141, 35, 35);
}
.article{
    padding-top: 2rem;
    
    height: 10rem;
    margin-bottom: auto;
}
footer{
    background-color: rgb(141, 76, 24);
   color:rgb(227, 233, 151);
   width: auto;
   height: 100px;
   text-align: center;
   align-items: center;
}
.h2-2{
    text-align: center;
    color: aliceblue;
    margin-bottom: 1rem;
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-weight: 800;
}
.content{
    width: 80%;
    margin: auto;
    text-align: justify;
}
.author{
    margin-bottom: 1rem;
    color:  rgb(141, 35, 35);
}
.date{
    margin-top: 1rem;
    color:  rgb(141, 35, 35);
}
.wrap2, .container, .user{
    display: grid;
    background-color: rgb(223, 151, 43);
    width: auto;
    text-align: center;
    color: aliceblue;
    padding: 3rem;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.form-group input, .form-group label{
    height: 2rem;
    width: 20rem;
    border-radius: 3% 3%;
}
label{
    color: aliceblue;
    font-size: large;
}
.noms{
    height: 2rem;
    width: 20rem;
    border-radius: 3% 3%;

}
form{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    margin-bottom: 2rem;
}
.button{
    margin-top: 2rem;
    padding: 1rem;
    font-size: large;
}
.footerdiv{
    padding-top: 1rem;
    
}
.form-group{
    margin-top: 1rem;
}
.user img{
    display: inline-block;
    padding-bottom: 1rem;
    margin: auto;
}
.text-comment{
    width: 20rem;
    height: 3rem;
}
